Channel Binding

It would be interesting to discuss if channel binding is worth to be added to the current document.  
Using EAD_3 and EAD_4 might be possible to have an easy solution. 

Good to discuss channel binding. 

Two ways to do this inside EAP-EDHOC, here exemplified with SSID:
1. define new EAD item EAD_opaque_data
EAP-EDHOC inserts EAD_opaque_data=SSID

The receiver always needs to verify the provided SSID is legitimate.
Note that for EAD_4 is not included in derivation of MSK.

2. EAP-EDHOC set context = SSID ... In this case the app

Note that in this case they need to agree in the SSID out of band.

Alternatively, the application can verify outside of EAP-EDHOC, for example with KDF (MSK, SSID,... )




RFC 6677 provides a solution for providing EAP channel binding inside the EAP method. That is, alternative 1. Moreover it  defines a format for transporting the information (Figure 2: Channel-Binding Encoding), which is not based on CBOR of course. RFC 6677 says "The transport protocol SHOULD provide confidentiality" for the privacy issue. Since EAD_3 and EAD_4 are good places to exchange the channel binding protection. 

It is also mentioned that "... after
   sending a protected indication of failed consistency, the EAP server MUST send an EAP-Failure message to terminate the session." That happens with in EAD_4 , the EAP peer will answer with the typical empty EAP-EDHOC message and the EAP server will give an EAP-Failure.

In my opinion, it would be easier to provide something as EAP-GPSK does in section 12.3 by saying that EAP-EDHOC provides a way of transporting channel binding information in EAD_3 and EAD_4 using a bit string , we define a new ead label but we do not define anything else.  We would say in the Channel Binding security claims "Extensible" as EAP-GPSK does "The design of EAP-GPSK allows to securely exchange information
      between the EAP peer and the EAP server using protected data
      fields.  These fields might, for example, be used to exchange
      channel binding information or to provide support for identity
      confidentiality."


That sound good to me. 
It would also be good to present the idea at the IETF and see the response, without having to compromise to implement a possible very complex feature. 

I am reopening this issue following the latest comments from Marco Tiloca. I have added the following text to define the new EAD item for conveying EAP Channel Binding information in the EAD fields, in alignment with Section 3.8 of RFC 9528:

"This new EAD item is intended only for EAD_3 and EAD_4. Then, it MUST be ignored if included in other EAD fields. This new EAD item is considered as non-critical. Multiple occurrences of this new EAD item in one EAD field are allowed."

However, we still need to agree on this. Do you think it is correct to define this EAD item as non-critical and to allow multiple occurrences in the same EAD field?